.h-13_5 {
  height: 108px;
}

.ml-9_5 {
  margin-left: 76px;
}

.mr-0 {
  padding-right: 0rem !important;
}
.mr-9_5 {
  margin-right: 76px;
}

.w-46_25 {
  width: 370px;
}
.h-12 {
  height: 96px;
}
.container {
  max-width: 1110px;
  padding-right: 0px;
  padding-left: 0px;
}
.mb-10 {
  margin-bottom: 80px;
}

.mb-20 {
  margin-bottom: 160px;
}
.layout__footer {
  height: 333px;
}
